h1{
    text-align:center;
    font-weight:bolder;
    border:1px solid whitesmoke;
    color:yellowgreen;
    font-size:45px;
    margin-top:0;
    background-image: url("https://lh3.googleusercontent.com/7u_XJJFiTleAzt6E0QhTBTCmScpj-9zOQI26lAQq8be7W2ufpQbFNoqRpfqRhFLll_LNEjY=s136");
    background-size:contain;
    background-repeat:no-repeat;
}
body{
    background-image:url("https://images.pexels.com/photos/161293/prambanan-temple-java-hinduism-161293.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size:cover;
    background-repeat:no-repeat;
    align-content: center;

}
h2{
    text-align: center;
    color:wheat;
    text-emphasis: dot;
}
p{
    text-align: center;
    font-size:35px;
    margin-left:300px;
    margin-right:300px;
}
#akan >p{
    color:white;
}
#cut{
    display:none;
    color:white;
}
#name{
    padding:35px;
    text-align:center;
    size:35px;}

    #buton{
        display:none;
    }
    #akan{
        display:none;
        position:absolute;
        background-image:url("https://images.pexels.com/photos/311039/pexels-photo-311039.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
        background-size:cover;
        background-repeat:no-repeat;
    }
    #akan >h2{
        color:lightcoral;
        font-size:50;
        text-decoration: underline;
    }
    #akan >h1{
        margin-left:300px;
        margin-right:300px;
    }
    #button,#buton,#butto{
        padding: 10px;
    }
    #form{
        text-align: center;
        font-size:25px;
        background-color:transparent;
        margin-right:600px;
        margin-left:600px;
    }
    #date, #month, #year{
        margin:10px;
        padding:10px;
    }

