

p{
    text-align:center;
}


body{
    background-image:url("https://images.pexels.com/photos/3094799/pexels-photo-3094799.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size:cover;
    color:white;
    font-size:40px;
    font-weight:20px;
    margin-right:20px;
    border:2px solid whitesmoke;
    padding-right:50px;
    height: 1300px;
    text-align:center;
    width:100%;
    overflow-x: hidden; 
    align-items: center
}
.date{
    position:absolute;
    font-size:20px;
    background-color: purple;
    width:500px;
}